<h1>Advertisements#new</h1>
<p>Find me in app/views/advertisements/new.html.erb</p>
<h1>New Advertisements</h1>

<div class="row">
  <div class="col-md-4">
    <p>Advertisement Conditions</p>
    <ul>
      <li>No pop up ads!</li>
      <li>No ads that can give you seizures!</li>
      <li>No ads that are offensive or inappropriate!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @advertisement do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter advertisement title" %>
      </div>
      <div class="form-group">
        <%= f.label :copy %>
        <%= f.text_area :copy, rows: 8, class: 'form-control', placeholder: "Enter advertisement copy" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control', placeholder: "Enter advertisement price" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
